$blackCell: #445B5A;
$whiteCell: #ffffff;
$buttonColor: #2C3737;
$buttonHover: rgb(65, 93, 116);
$blackCellText: #e9e8d1;
$hoveredCell: #8417af8a;
$endCell: #8417af;

:root{
  --knight-animation-duration: .3s;
  --upward-animation: 0px;
  --downward-animation: 0px;
}

@mixin board{
  max-width: 802px;
  max-height: 800px;
  border: solid black 3px;
  margin-left: 100px;
  margin-top: 98px;
  margin-bottom: 99px;
  display: flex;
  flex-direction: column-reverse;
}

@mixin button{
  width: 185px;
  height: 64px;
  border-radius: 4px;
  font-family: 'imfell';
  background-color: $buttonColor;
  border: 0px;
  color: white;
  font-size: 48px;
  cursor: pointer;
  margin-top: 18px;
  align-self: center;
  box-shadow: 4px 4px 8px rgba($color: #000000, $alpha: .62);
}


@font-face {
  font-family: 'imperial';
  src: url('../assets/fonts/ImperialScript-Regular.ttf');
}

@font-face {
  font-family: 'imfell';
  src: url('../assets/fonts/IMFellEnglishSC-Regular.ttf');
}

@keyframes up {
  0%{
    
  }
  100%{
    transform: translateY(100px);
  }
}
@keyframes down {
  0%{
    
  }
  100%{
    transform: translateY(-100px);
  }
}
@keyframes right {
  0%{
    
  }
  100%{
    transform: translateX(100px);
  }
}
@keyframes left {
  0%{
    
  }
  100%{
    transform: translateX(-100px);
  }
}